@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body, html, #root {
  height: 100%;
  margin: 0;
  background: linear-gradient(135deg, #e0ffe0, #ffffff); /* Light green to white */
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Inter', sans-serif;
  cursor: default;
}